* {
  box-sizing: border-box;
}

.header {
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

Link {
  color: blue;
}

body {
  display: flex;
}

div {
  padding: 5px;
  color: purple;
}